.main{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 50px;
}

.tema{
    position: relative;
    color: white;
    background-color: var(--cor-primaria);
    height: 150px;
    width: 450px;
    border-radius: 15px;
}

.tema h2{
    position: absolute;
    top: 5%;
    left: 5%;
}

.tema img{
    position: absolute;
    width: 25%;
    top: 15%;
    left: 70%;
    filter: invert(100%);
}

.tema:hover {
    background-color: var(--cor-detalhes);
    border: 2px white solid;
    transform: scale(1.05);
}

.divisor{
    display: flex;
    gap: 50px;
}