:root{
    --cor-primaria:#102E44;
    --cor-segundaria: #B2FCFB;
    --cor-terciaria: #d7f3f6;
    --cor-detalhes: #4eb2c9;
}

.main{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 50px;
}

.return{
    width: 50px;
    height: 50px;
    background-size: contain;
    border-radius: 50%;
    position: fixed;
    right: 50px;
    bottom: 100px;
    background-color: white;
}

.rotate {
    background-image: url(../images/icons/return-button-png-34573.png);
    transform: rotate(90deg);
  }
  

.tema{
    position: relative;
    color: white;
    background-color: var(--cor-primaria);
    height: 150px;
    width: 450px;
    border-radius: 15px;
}

.tema h2{
    position: absolute;
    top: 5%;
    left: 5%;
}

.tema img{
    position: absolute;
    width: 25%;
    top: 15%;
    left: 70%;
    filter: invert(100%);
}

.tema:hover {
    background-color: var(--cor-detalhes);
    border: 2px white solid;
    transform: scale(1.05);
}

.divisor{
    display: flex;
    gap: 50px;
}

.page{
    position: relative;
    color: white;
    background-color: var(--cor-primaria);
    height: 450px;
    width: 270px;
    border-radius: 15px;
}

.page:hover{
    background-color: var(--cor-detalhes);
    border: 2px white solid;
    transform: scale(1.05);
}

.icon{
    position: absolute;
    width: 30%;
    top: 30%;
    left: 35%;
    filter: invert(100%);
}

.icon2{
    position: absolute;
    width: 80%;
    bottom: 0%;
    left: 25px;
    filter: invert(100%);
}

.rotated-span {
    position: absolute;
    top: 32%;
    left: 10%;
    transform: translate(-50%, -50%) rotate(270deg);
}

.description{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 450px;
    width: 550px;
    background-color: var(--cor-primaria);
    border-radius: 5% 5% 5% 5%;
    gap: 10px;
}

.ex{
    background-color: white;
    display: flex;
    width: 80%;
    gap: 25px;
    flex-direction: column;
    border: #102E44 1px solid;
    padding: 10px;
    justify-content: left;
}

.tela_aux {
    position: absolute;
    display: none;
    width: 600px;
    height: 300px;
    gap: 20px;
    background-color: var(--cor-terciaria);
    padding: 10px;
    border: #102E44 2px solid;
}

.tela_aux img {
    height: 160px;
    width: 160px;
}

